/*Element Selectors*/

/*Class Selectors*/

/*footer*/
.links{
    text-align:center;
    background-color: #A084DC;
    padding: 10px;
}

.socials-link{
    padding: 4px 7px;
}
/*ID Selectors*/
/*Navbar*/
