/*Element Selectors*/

/*Class Selectors*/
.abt{
    background-color: #BFACE2;
    margin: 0px;
}
/*top*/
.top{
    text-align:center;
    background-color: #A084DC;
    padding: 10px;  
}

/*footer*/
.links{
    text-align:center;
    background-color: #A084DC;
    padding: 10px;
}

.socials-link{
    padding: 4px 7px;
}

/*ID Selectors*/
/*Navbar*/
